.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  /*font-size: 20px;*/
  color: #404040;
}
/*p {*/
  /*line-height: 1.5;*/
  /*margin: 30px 0;*/
/*}*/
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}


