<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="profile">
        <div class="profile__meta">
          <a href="/+{{ profile.username }}">
            +{{ profile.username }}
          </a>
            <h4>Email</h4>
            <p>{{ profile.email }}</p>
            <h4>Direction</h4>
            <p>{{ profile.direction.name }}</p>
            <h4>Equipment</h4>
            <div ng-init="equipment = $eval(profile.get_equipment)">
                <ul class="list-inline">
                    <li ng-repeat="it in equipment">{{ it.fields.name }} {{ $last ? '.' : ($index==equipment.length-2) ? ' and ' : ', '}}</li>
                </ul>
            </div>

        </div>
          AA{{ equips }}
          <div ng-repeat="eq in vm.equips">
              !!{{ eq.name }}&&S
          </div>
BBA<equips equips="vm.equips"></equips>
      </div>
    </div>
  </div>
</div>