<div class="profile" ng-show="vm.profile">
  <div class="jumbotron profile__header">
    <h2 class="profile__username text-center">{{ vm.profile.username }}</h2>
      <hr>
      <h4>Tagline</h4>
      <p class="profile__tagline">{{ vm.profile.tagline }}</p>
      <hr>
      <h4>Direction</h4>
      <p class="profile__direction__name">{{ vm.profile.direction.name }}</p>
      <hr>
      <h4>Email</h4>
      <p class="profile__email">{{ vm.profile.email }}</p>
      <hr>
      <h4>Phone</h4>
      <p class="profile__phone">{{ vm.profile.phone }}</p>
      <hr>
      <h4>Equipment</h4>
      <ul class="list-inline"">
          <li  ng-repeat="equip in vm.profile.equipment_set" style="display: inline-block">
              <a href="equipment/{{ equip.id }}">{{ equip.name }} </a> {{ $last ? '.' : ', '}}
          </li>
      </ul>
      <hr>
      <h4>Staff</h4>
      <ul class="list-inline"">
          <li  ng-repeat="st in vm.profile.staff_set" style="display: inline-block">
              <a href="staff/{{ st.id }}">{{ st.name }} </a> {{ $last ? '.' : ', '}}
          </li>
      </ul>
      <hr>
      <h4>Description</h4>
      <p class="profile__description">{{ vm.profile.description }}</p>
      <hr>
  </div>
  <posts posts="vm.posts"></posts>
</div>
