<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.profile">
    <form role="form" class="settings" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="vm.profile.email" placeholder="ex. john@example.com" />
      </div>

      <div class="form-group">
        <label for="settings__password">New Password</label>
        <input type="password" class="form-control" id="settings__password" ng-model="vm.profile.password" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__confirm-password">Confirm Password</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.profile.confirm_password" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label for="settings__username">Username</label>
          <p id="settings__username" >{{ vm.profile.username }}</p>
        <!--<input type="text" class="form-control" id="settings__username" ng-model="vm.profile.username" placeholder="ex. notgoogleplus" />-->
      </div>

      <div class="form-group">
        <label for="settings__tagline">Tagline</label>
        <textarea class="form-control" id="settings__tagline" ng-model="vm.profile.tagline" placeholder="ex. This is Not Google Plus." />
      </div>

      <div class="form-group">
        <label for="settings__direction">Direction</label>
          <input type="text"  class="form-control" id="settings__direction" ng-model="vm.profile.direction.name"
                 typeahead="dir.name for dir in directions | filter:$viewValue" placeholder="ex. Space Research."/>
        <hr>

        <div class="form-group" >
            <label for="settings__equipment">Equipment</label>
            <table class="table table-striped table-hover ">
                <tbody>
                <tr ng-repeat="eq in vm.profile.equipment_set" id="settings__equipment__id{{ eq.id }}" ng-model="eq.name">
                    <td>{{ eq.name }}</td>
                    <td><a href="javascript:void(0)"  ng-click="vm.destroyEquip(eq.id)"><i class="mdi-action-delete"></i></a></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-info btn-fab btn-fab-mini btn-raised mdi-content-add btn-add-new-equip "
              href="javascript:void(0)"
              ng-dialog="/static/templates/equipment/new-equip.html"
              ng-dialog-controller="NewEquipmentController as vm"></a>
        </div>

        <hr>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" ng-click="vm.destroy()">Delete Account</button>
      </div>
    </form>

  </div>
</div>
